#!/bin/sh
#================================================================
# Copyright (C) 2010 QNAP Systems, Inc.
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#----------------------------------------------------------------
#
# qpkg_all.cfg
#
#	Abstract: 
#		A QPKG configuration file for
#		SickBeard alpha2-3
#
#	HISTORY:
#		2010/11/05 -	Created - AndyChuo (zeonism at gmail dot come) 
# 
#================================================================
QPKG_AUTHOR="zEOn & SL1000"
QPKG_SOURCE_DIR="."
QPKG_QPKG_FILE="SickBeard.qpkg"
QPKG_SOURCE_FILE="SickBeard.tgz"
QPKG_NAME="SickBeard"
QPKG_VER="alpha2-3"
QPKG_RC_NUM="101" #for rcS and rcK
QPKG_WEB_PORT="7071"
QPKG_SERVICE_PORT=""
QPKG_WEBUI="/home/" #Relative path URL of your QPKG web interface
QPKG_INSTALL_PATH=""
QPKG_CONFIG_PATH=""
QPKG_DIR=""
QPKG_DIR_LINK_NAME=""
QPKG_SERVICE_PROGRAM="sickbeard.sh"
QPKG_SERVICE_PROGRAM_CHROOT=""
QPKG_SERVICE_PIDFILE=""
QPKG_CONFIG_DIR=$QPKG_CONFIG_PATH # will be removed
QPKG_ROOTFS=""
QPKG_INSTALL_MSG=""
QPKG_BASE=""
UPDATE_FLAG=0
PYTHON_INSTALL_PATH=""
SABNZBDPLUS_INSTALL_PATH=""
